In [1]:
import pandas as pd
import numpy as np

In [2]:
l = 'x1 x2 x3 x4 x5 x6 x7 x8 x9 x10 x11 x12 x13 x14 x15 x16 x17 x18 x19 x20'.split()
l

['x1',
 'x2',
 'x3',
 'x4',
 'x5',
 'x6',
 'x7',
 'x8',
 'x9',
 'x10',
 'x11',
 'x12',
 'x13',
 'x14',
 'x15',
 'x16',
 'x17',
 'x18',
 'x19',
 'x20']

In [3]:
def list_df(l):
    d1={}
    s1 = 'c'
    s2 = list(np.arange(len(l)//2))
    s = []
    for i in range(len(s2)):
        s.append(s1 + str(s2[i]))
        if i%2==0:
            d1[s[i]] =  l[0:3:2]
            for i in d1.values():
                for j in i:
                    if j in l:
                        l.remove(j)
        else:
            d1[s[i]] = l[0:2]
            for i in d1.values():
                for j in i:
                    if j in l:
                        l.remove(j)
    df = pd.DataFrame(data=d1)
    return df

In [4]:
list_df(l)

   c0  c1  c2  c3   c4   c5   c6   c7   c8   c9
0  x1  x2  x5  x6   x9  x10  x13  x14  x17  x18
1  x3  x4  x7  x8  x11  x12  x15  x16  x19  x20